				<div class="col-md-4">
					
					<h2>Find our pricing</h2>
					
					<ul>

						<li>Pet walking is purchased in fifteen minute increments, at £1 per 15 minutes (or £4 per 1 hour).</li>
						<li>Feeding pets is charged at £3 per feeding.</li>
						<li>Puppy socialisation is a two hour session, and is charged at £8.</li>
						<li>Play sessions are purchased in thirty minute increments, at £3 per 30 minutes (or £6 per hour).</li>

					</ul>
					
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					
				</div>
				
				<div class="col-md-4">
					
					<h2>Book Now</h2>
					
					<p>Find our calender to book your dogs now and schedule your days </p>

					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
					
				</div>